.product-details-container {
    min-height: calc(100vh - 120px);
    display: flex;
    margin: 2rem;
    padding: 1rem;
    flex-direction: row;
}

.product-details-left {
    max-width: 50%;
}

.product-details-right {
    max-width: 50%;
}

.product-details-left img {
    max-width: 100%;
}

.product-details-group {
    margin: 1rem 2rem;
}

.product-details-group h3 {
    color: gray;
}